html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
}

.red{
	background: #a30;
}
.error{
    border:1px solid #a10 !important;
}

.label-error{
    color:#a30;
}

#c1{
    z-index: 1;
    background-image: url("../images/valide.jpg");
    left: auto !important;
}

#c2{
    z-index: 2;
    left: auto !important;
}

.imgElement {
    position: absolute!important;
    background-size: 100% 100%!important;
}
.input-control{
    display:inline;
    min-width: 120px;
    max-width: 180px;
    border: 1px solid #4d87ca;
}

.input-control-1{
    display:inline;
    min-width: 40px;
    max-width: 80px;
    border: 1px solid #4d87ca;
}

.label-control1{
    background-image: url("../images/phone1.jpg");
    text-align: right;
    background-size: 100% 100%;
    height: 35px;
    width: 95px;
}

.label-control2{
    background-image: url("../images/caps.jpg");
    text-align: right;
    background-size: 100% 100%;
    height: 35px;
    width: 95px;
}

.form-group {
    margin: 15px auto;
    text-align: center;
    line-height: 35px;
}

.btn-caps{
    width:95px;
}

.btn-submit[disabled]{
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
}

.submit-btn{
    margin-top: 20px;

}

 .btn-submit{
    background-image: url("../images/confirm.jpg");
    background-size: 100% 100%;
    height: 45px;
    width: 130px;
     border: 1px solid transparent;
}